:root{
    --primary-color: pink;
    --primary-color-light: white;
    --primary-color-dark: ; pink;
    --text-dark: black;
    --text-light: gray;
    --white: white;
    --max-width:1200px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Tahoma, sans-serif;

}
