*{
    margin: 0;
    padding: 0;
    font-family: Arial,Tahoma,sans-serif;
}
body{
    align-items: center;
    padding: 20px;
    min-height: 200px;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;

}
h1 {
    margin-bottom: 40px;
    text-align: center;
}

button:hover {
    background-color: #f0f0f0; /* Màu nền khi hover */
}

button:focus {
    outline: none; /* Loại bỏ viền khi nút được nhấn */
}


button{
    border-radius: 50%; /* Tạo hình tròn */
    padding: 20px; /* Điều chỉnh kích thước của nút */
    border: none; /* Xóa bỏ viền của nút */
    font-size: 16px; /* Kích thước chữ */
    cursor: pointer;
    transition: background-color 0.3s ease;
    }
.button_container{
    justify-content: center;
    gap: 40px;
    display: flex;
    font-size: larger;
}
.container{
    max-width: 800px;
    width: 100%;
}
